@import url('https://fonts.googleapis.com/css?family=Gaegu');
@import url('https://fonts.googleapis.com/css?family=Knewave');

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.5;
    background-color: lightgrey;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

.dark {
    padding: 15px;
    background-color: #35424a;
    color: #ffffff;
    margin-top: 10px;
    margin-bottom: 10px;
}

header {
    background: #35424a;
    color: white;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: 3px solid #e8491d;
}

ul {
    margin: 0;
    padding: 0;
}

header a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px; 
}

header #branding {
    float: left;
}

header h1 {
    margin: 0;
}

header nav {
    float: right;
    margin-top: 10px; 
}

header a:hover {
    color: #cccccc;
    font-weight: bold;
}

.button {
    height: 30px;
    background: #e8491d;
    padding-left: 20px;
    padding-right: 20px;
    color: white; 
}

/*Showcase*/

#showcase {
    min-height: 400px;
    background: url("./img/trophy.jpg") no-repeat 0 -200px;
    background-size: cover;
    text-align: center;
    color: black;
}

#showcase h1 {
    font-family: Knewave;
    margin-top: 100px;
    margin-bottom: 10px;
    font-size: 55px;
}

#showcase p {
    font-size: 30px;
    font-family: Gaegu;
}

#newsletter {
    padding: 15px;
    color: #ffffff;
    background: #35424a;
}

#newsletter h1 {
    float: left;
}

#newsletter form {
    float: right;
    margin: 20px;
}

#newsletter input[type='email'] {
    padding: 4px;
    height: 20px;
    width: 250px;
}

/*Boxes*/

#boxes {
    margin-top: 20px;
}

#boxes .box {
    float: left;
    width: 30%;
    padding: 10px;
    text-align: center;
}

#boxes .box img {
    width: 90px;
    height: 90px;
}

/*Sidebar*/

aside#sidebar {
    float: right;
    width: 30%;
    margin-top: 10px;
}

/*Main-col*/

article#main-col {
    float: left;
    width: 65%;

}

/*Players*/

div.players {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


div.players img {
    padding: 15px;
    width: 200px;
    height: 200px;
    border-radius: 50% 50%;
}

h2.position {
    text-align: center;
    background-color: #e8491d;
}

div.players img:hover {
    box-shadow: 0px 0px 5px #e8491d;
}

h1.page-title2 {
    text-align: center;
    background-color: #35424a;
    border-top: 2px solid #e8491d;
    border-bottom: 2px solid #e8491d;
}

footer {
    padding: 20px;
    margin-top: 20px;
    color: white;
    background-color: #e8491d;
    text-align: center;
}